<div class="alert">
  <app-alert title="Qualidade do ar moderada" location="São Francisco, Califórnia • 22h29:21" ></app-alert>
  <app-alert title="Contagem de pólen aumentando" location="São Francisco, Califórnia • 21h29min21s"></app-alert>
  <app-alert title="Altos níveis de PM2,5 detectados" location=" São Francisco, CA 02/10/2025, 22:37:00 "></app-alert>
  <app-alert title="Alerta de qualidade do ar insalubre" location="São Francisco, Califórnia • 21h29min21s"></app-alert>
  <app-alert location="São Francisco, Califórnia • 21h29min21s" title="Melhoria da qualidade do ar"></app-alert>
</div>

